$primary-palette: (
  50: #f6f4fa,
  100: #e9e5f3,
  200: #dad3eb,
  300: #cbc1e2,
  400: #bfb4dc,
  500: #b4a7d6,
  600: #ad9fd1,
  700: #a496cc,
  800: #9c8cc6,
  900: #8c7cbc,
  A100: #fff,
  A200: #fff,
  A400: #e4dbff,
  A700: #d2c2ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
$secondary-palette: (
  50: #faf8f4,
  100: #f3eee5,
  200: #ebe2d3,
  300: #e2d6c1,
  400: #dcceb4,
  500: #d6c5a7,
  600: #d1bf9f,
  700: #ccb896,
  800: #c6b08c,
  900: #bca37c,
  A100: #fff,
  A200: #fff,
  A400: #fff1db,
  A700: #ffe7c2,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
$dark-primary-palette: (
  50: #111213,
  100: #d4e5f5,
  200: #b7d4ee,
  300: #9ac2e7,
  400: #85b5e1,
  500: #6fa8dc,
  600: #67a0d8,
  700: #5c97d3,
  800: #528dce,
  900: #407dc5,
  A100: #fff,
  A200: #e3efff,
  A400: #b0d3ff,
  A700: #96c4ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #fff,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);

$dark-secondary-palette: (
  50: #f6f4fa,
  100: #e9e5f3,
  200: #dad3eb,
  300: #cbc1e2,
  400: #bfb4dc,
  500: #b4a7d6,
  600: #ad9fd1,
  700: #a496cc,
  800: #9c8cc6,
  900: #8c7cbc,
  A100: #fff,
  A200: #fff,
  A400: #e4dbff,
  A700: #d2c2ff,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #000,
    600: #000,
    700: #000,
    800: #000,
    900: #000,
    A100: #000,
    A200: #000,
    A400: #000,
    A700: #000,
  ),
);
